<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <%- include('../partials/_navbar') %>
    <main>
        <section>
            <h2>Edit My User Profile</h2>
            <form action="/profile/<%= userToEdit.id %>?_method=PUT" method="POST">
                <% if (typeof error !== "undefined") { %>
                    <p><%= error.message %></p> 
                <% } %>
                <div>
                    <label>Username</label>
                    <input
                    type="text"
                    name="username"
                    value="<%= userToEdit.username %>"
                    required
                    />
                </div>
                <div>
                    <label>Email</label>
                    <input
                    type="email"
                    name="email"
                    value="<%= userToEdit.email %>"
                    required
                    />
                </div>
                <div>
                    <label>Avatar</label>
                    <input
                    type="text"
                    name="avatar"
                    value="<%= userToEdit.avatar %>"
                    />
                </div>
                <div>
                    <label>Interests</label>
                    <input
                    type="text"
                    name="interests"
                    value="<%= userToEdit.interests %>"
                    />
                </div>
                <div>
                    <button type="submit">Confirm Edits</button>
                    <a href="/profile/<%= userToEdit.id %>">Cancel</a>
                </div>
                
            </form>
        </section>
    </main>
</body>
</html>