<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/main.js" defer></script>
    <title>Road Buddy</title>
</head>
<body>
    <nav>
        <div> 
            <h1><a href="/home">Road Buddy</a></h1>
        </div>
        <ul>
            <% if (typeof user !== "undefined") { %> 
                <li><a href="/profile/<%= user.id %>">My Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            <% } else { %> 
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Login</a></li>
            <% } %> 
        </ul>
    </nav>
        <header>
            <section>
                <h3>Profile</h3>
                <div>
                    <img src="<%= thisUser.avatar %>" alt="profile-photo">
                </div>
                <p><%= thisUser.username %></p>
                <p>Join Date: <%= thisUser.createdAt.toLocaleDateString() %> %></p>
                <p>Interests: <%= thisUser.interests%> %></p>
                <% if (user.id === thisUser.id) { %> 
                    <a href="/profile/<%= thisUser.id %>/edit"><button>Update profile</button></a>
                <% } %> 
                <a href="/message/new/<%=thisUser.id%>">
                    <div class="profile__link">
                        Send a message
                    </div>
                </a>
            </section>
        </header>
    
</body>
</html>