<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <%- include('../partials/_navbar') %>
        <header>
            <section>
                <h3>Potential Matches</h3>
                <div>
                    <img src="<%= thisUser.avatar %>" alt="profile-photo">
                </div>
                <p>You and <%= thisUser.username %> have a common interest in <%= commonInterest %>.</p>
                <p><%= thisUser.username %></p>
                <p>Join Date: <%= thisUser.createdAt.toLocaleDateString() %> %></p>
                <p>Interests: <%= thisUser.interests%> %></p>
                <a href="/message/new/<%=thisUser.id%>">
                    <div>
                        Match with <%= thisUser.username %>.
                    </div>
                </a>
            </section>
        </header>
    
</body>
</html>