<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
    <link rel="stylesheet" href="styles/matches.css" />
</head>
<body>
    <%- include('../partials/_navbar') %>
        <header>
            <section class='match-section'>
                    <h3>Your Flip Flop Matches</h3>
                    <div>
                        <img class='avatar-image' src="<%= thisUser.avatar %>" alt="profile-photo">
                    </div>
                    <p>You and <%= thisUser.username %> have a common interest in <%= commonInterest %>.</p>
                    <!-- <p>Username: <%= thisUser.username %></p> -->
                    <p>Join Date: <%= thisUser.createdAt.toLocaleDateString() %> %></p>
                    <p class='interests'>Interests:
                        <% for(let i = 0; i < thisUser.interests.length; i++) { %>
                            <div class="interestTitle">
                              <span> <%= thisUser.interests[i] %> </span>
                            </div>
                         <% } %>

                    <a href="/message/new/<%=thisUser.id%>">
                        <div>
                            <button> Match with <%= thisUser.username %>.</button>
                        </div>
                        <br>
                        <div>
                            <button class='done-button'> Done </button>
                        </div>
                    </a>
            </section>
        </header>
    
</body>
</html>